{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{% block title %}บ้านจ่าโบ่{% endblock %}</title>
    <link rel="stylesheet" href="{% static './lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './lib/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css'%}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #213357;padding: 15px;">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="static/images/logo4.png" alt="" width="160px" height="80px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" style="margin-right: 25px;">
                    <a class="nav-link" href="{% url 'about' %}">เกี่ยวกับฉัน</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="{% url 'region' %}" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ภาคของไทย</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'region' %}">ภาคของไทย</a>
                        <a class="dropdown-item" href="{% url 'central' %}">ภาคกลาง</a>
                        <a class="dropdown-item" href="{% url 'north' %}">ภาเหนือ</a>
                        <a class="dropdown-item" href="{% url 'northeast' %}">ภาคอีสาน</a>
                        <a class="dropdown-item" href="{% url 'south' %}">ภาคใต้</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="หมวดเที่ยว" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">หมวดเที่ยว</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'group' %}">หมวดเที่ยว</a>
                        <a class="dropdown-item" href="{% url 'camping' %}">แคมป์ปิ้ง</a>
                        <a class="dropdown-item" href="{% url 'nature' %}">ธรรมชาติ</a>
                        <a class="dropdown-item" href="{% url 'sea' %}">ทะเล</a>
                        <a class="dropdown-item" href="{% url 'photograph' %}">ถ่ายรูป</a>
                    </div>
                </li>
               
            </ul>
           <a href="{% url 'contact' %} "><button class="btn btn-outline-light " type="submit" style="margin-right: 60px;">CONTACT</button></a>
         </div>
        </div>
    </nav>
    <img src="static/images/n/n5/1.jpg" alt="" width="100%" height="110%">
    <div class="container" style="font-size: 17.5px;">
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <br>
                <p> สำหรับคนที่ชอบความสงบ หนีความวุ่นวายในกรุง ชอบใช้ชีวิตสโลว์ไลฟ์ ที่นี่เหมาะกับการพักผ่อนและเติมพลัง ให้กับร่างกายมาก....

                </p>
                <p>
                    " บ้ า น จ่ า โ บ่ " หมู่บ้านในหุบเขา ตั้งอยู่ ต.ปางมะผ้า อ.ปางมะผ้า จ.แม่ฮ่องสอน เป็นที่อาศัยของชาวเขาเผ่ามูเซอดำ ที่อพยพมาโดยการนำของนายจ่าโบ่ ไพรเนติธรรม มาตั้งรกราก เพื่อสร้างเป็นหมู่บ้าน จึงนำชื่อ "จ่าโบ่ ไพรเนติธรรม" มาตั้งป็น ชื่อหมู่บ้าน โดยเอาเฉพาะชื่อมาตั้ง
                    จึงกลายเป็น "บ้านจ่าโบ่" ที่นี่ยังคงรักษาวัฒนธรรม ขนบธรรมเนียมประเพณี การแต่งกาย ภาษาของชาวมูเซอดำ ชาวบ้านส่วนใหญ่ยังคงนิยมสวมชุด ประจำเผ่าในชีวิตประจำวัน

                </p>
                <br>

            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="container text-center">
        <img src="static/images/n/n5/2.jpg" alt="" width="75%" height="100%">
    </div>
    <div class="container" style="font-size: 17.5px;">
        <div class=" row ">
            <div class="col-3 "></div>
            <div class="col ">
                <p> จุดชมวิวภูผาหมอก : บ้านจ่าโบ่
                </p>
                <br>
                <p>
                    ใครได้มาเที่ยวที่นี่ รับรองติดใจ ! แล้วต้องกลับมาเที่ยว ที่นี่อีกครั้ง เหมือนโดนต้องมนต์สะกด มาสัมผัสอากาศที่สดชื่น ออกมากอดธรรมชาติ ชมวิถีชีวิตของชาวเขาและชมความงาม ของธรรมชาติที่อุดมสมบูรณ์ของประเทศไทยกัน.....

                </p>
            </div>
            <div class="col-3 "></div>
        </div>
    </div>
    <div class="container text-center">
        <img src="static/images/n/n5/3.jpg" alt="" width="75%" height="100%">
    </div>
    <div class="container" style="font-size: 17.5px;">
        <div class=" row ">
            <div class="col-3 "></div>
            <div class="col ">

                <p>
                    บ้านของชาวเขามูเซอดำ แห่งบ้านจ่าโบ่

                </p>
                <br>
            </div>
            <div class="col-3 "></div>
        </div>
    </div>

    <div class="container text-center">
        <img src="static/images/n/n5/4.jpg" alt="" width="75%" height="100%">
    </div>
    <div class="container" style="font-size: 17.5px;">
        <div class=" row ">
            <div class="col-3 "></div>
            <div class="col ">
                <p> ที่จุดชมวิวภูผาหมอก จะมองเห็นวิวของหมู่บ้านจ่าโบ่ได้ทั้งหมู่บ้าน
                    <br> จุดชมวิว 360 องศามองเห็นวิวรอบๆ สวยมาก..


                </p>
                <br>
                <p>
                    พิกัด : หมู่บ้านในหุบเขา
                    <br> ตั้งอยู่ ต.ปางมะผ้า อ.ปางมะผ้า จ.แม่ฮ่องสอน

                </p>
            </div>
            <div class="col-3 "></div>
        </div>
    </div>



    <div class="container " style="margin-bottom: 50px; ">
        <div class="col "></div>
    </div>
    <div class="container " style="margin-bottom: 50px; ">

        <div class="col text-center ">
            <tr>
                <img src="static/images/n/n5/8.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/n/n5/11.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/n/n5/3.jpg " alt=" " width="350px " height="240px ">
            </tr>
        </div>
        <div class="col text-center ">
            <tr>
                <img src="static/images/n/n5/4.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/n/n5/1.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/n/n5/10.jpg " alt=" " width="350px " height="240px ">
            </tr>
        </div>
        <div class="col text-center ">
            <tr>
                <img src="static/images/n/n5/2.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/n/n5/4.jpg " alt=" " width="350px " height="240px ">
            </tr>
            <tr>
                <img src="static/images/n/n5/9.jpg " alt=" " width="350px " height="240px ">
            </tr>
        </div>
        <div class="col "></div>
    </div>
    </div>
    <div style="padding:30px;margin-right: 60px;text-align: center; ">
        <h3>CREDIT</h2>
            <br>
            <a href="https://www.facebook.com/traveldd18 " class="font-weight-bold " style="color: rgb(0, 0, 0); "><img src="static/images/p/dd.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px ">เที่ยวดี๊ดี : traveldd</a>
            <br>
            <br>
            <a href="instagram.com/traveldd18 "><img src="static/images/p/ig.png" alt="" width="60px" height="60px"></a>
            <a href="https://www.facebook.com/traveldd18 "><img src="static/images/p/fb.png" alt="" width="50px" height="50px"></a>
            <br>
    </div>

<div style="text-align: center;">
        <h2>แนะนำแหล่งท่องเที่ยว</h2>
    </div>
    <div class="container" style="font-size: 17.5px;margin-bottom: 50px;">
        <div class=" row ">
            <div class="col ">
                <a href="{%url 's2' %}"><img src="static/images/s/s2/2.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/chill.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px ">Chill Journey :: เที่ยวอย่างชิว</a>
                <a href="{% url 's2' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">ท่าปอมคลองสองน้ำ กระบี่</p>
                </a>
            </div>
            <div class="col ">
                <a href="{% url 's6' %}"><img src="static/images/s/s6/5.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/bang.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> ไปเที่ยวกับบัง</a>
                <a href="{% url 's6' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">ควนนกเต้น พัทลุง</p>
                </a>
            </div>
              <div class="col ">
                <a href="{% url 'c6' %}"><img src="static/images/c/c6/1.jpg" alt="" style="width:350px; height:240px;padding:10px;"></a>
                <img src="static/images/p/black.jpg " alt=" " class="rounded-circle font-weight-bold " width="50px " height="50px "> BLACK PACK
                <a href="{% url 'c6' %}" class="nav-link">
                    <p style="color: black;font-weight: bold;text-align: center;">อุทยานหินเขางู ราชบุรี</p>
                </a>
            </div>
        </div>
    </div>
  <section style="text-align: center;">
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <script>
            function goForward() {
                window.history.forward()
            }
        </script>

    </section>
       <div style="text-align: center;">
        <input class="btn btn-outline-info" type="button" value="Back" onclick="goBack()">
        <a href="{% url 'about' %}"> <button type="button" class="btn btn-outline-info">เกี่ยวกับฉัน</button></a>
        <a href="{% url 'central' %}"> <button type="button" class="btn btn-outline-info">ภาคกลาง</button></a>
        <a href="{% url 'north' %}"> <button type="button" class="btn btn-outline-info">ภาเหนือ</button></a>
        <a href="{% url 'south' %}"> <button type="button" class="btn btn-outline-info">ภาคใต้</button></a>
        <a href="{% url 'northeast' %}"><button type="button" class="btn btn-outline-info">ภาคอีสาน</button></a>
        <a href="{% url 'camping' %}"> <button type="button" class="btn btn-outline-info">แคมป์ปิ้ง</button></a>
        <a href="{% url 'nature' %}"> <button type="button" class="btn btn-outline-info">ธรรมชาติ</button></a>
        <a href="{% url 'photograph' %}"> <button type="button" class="btn btn-outline-info">ถ่ายรูป</button></a>
        <a href="{% url 'sea' %}"> <button type="button" class="btn btn-outline-info">ทะเล</button></a>
        <input class="btn btn-outline-info" type="button" value="Forward" onclick="goForward()">
    </div>
    <div class="jumbotron " style="margin-bottom:0;background-color: #213357; ">
        <div class="container ">
            <div class="row ">
                <div class="col ">
                    <p>
                        <a href="{% url 'about' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">เกี่ยวกับฉัน</a></p>
                    <br>

                    <p>
                        <a href="{% url 'region' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">ภาคของไทย</a></p>
                    <div style="padding-top:50px;text-align: left;color:#ffffff;">

                        นักศึกษา ชั้นปีที่ 3
                        <br> สาขาวิชาวิศวกรรมสารสนเทศ คณะวิศวกรรมศาสตร์
                        <br> สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                    </div>

                </div>
                <div class="col ">
                    <p>
                        <a href="{% url 'group' %} " style="font-size: 18px;color: rgb(255, 255, 255); ">หมวดเที่ยว</a></p>
                    <br>

                    <p>
               <a href="{% url 'contact' %}" style="font-size: 18px;color: rgb(255, 255, 255); ">Contact</a></p>
                </div>
                <div class="col ">
                    <img src="static/images/logo4.png " alt=" " width="400px " height="200px ">
                </div>
            </div>
        </div>


    </div>

    {% block content %} {% endblock %}
    <script src="{% static './lib/jquery/jquery-2.2.4.js' %}"></script>
    <script src="{% static './lib/popper/popper.min.js' %}"></script>
    <script src="{% static './lib/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>